.unclicked {
	cursor:pointer;
	background-color: white;
	fill: white;
	text-align:center;
}
	
.clicked {
	cursor:pointer;
	background-color:gray;
	paint-order: stroke;
	stroke: gray;
	stroke-width: 2px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	max-width:auto;
	fill: gray;
	text-align:center;
}
	
.clickable {
	cursor:pointer;
	fill: white;
}
	
.labelClicked {
	paint-order: stroke;
	stroke: gray;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	fill: white;
	cursor:pointer;
}
	
.main_graph_head_border{
	display:block;
}
	
.sub_graph_head_border {
	display:block;
}


.graph_collapse {
    overflow: hidden;
    display:inline-block; /* or float:left; */
    height: 55px;
	width:650px;
	-webkit-transition: all 1s ease;
}

.graph_close {
    overflow: hidden;
    display:inline-block; /* or float:left; */
    height: 55px;
	width:650px;
	-webkit-transition: all 1s ease;
}

.graph_config {
    overflow: hidden;
    display:inline-block; /* or float:left; */
    height: 450px;
	width:650px;
	-webkit-transition: all 1s ease;
}

.hide {
	display:none;
}	

.show {
	display:block;
	cursor:pointer;
	
}		

.graph_container {
	width:auto; 
	height:500px;
	overflow-x: scroll; 
	overflow-y: scroll;
}